body {
  font-family: 'Quicksand', sans-serif;
  margin: 10px 20px
}

.twitter-container {
  float: right
}

.welcome {
  text-align: center;
  display: inline;
  margin-top: auto;
}

.App-header {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10vmin;
  margin: none;
  padding: none
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0; 
  width: 100%;
  display: flex
}

.Homepage-link, .Homepage-link:active, .Homepage-link:hover {
  float: right;
  font-size: larger
}

a, a:hover, a:active{
  text-decoration: none;
  color: #716F72;
  position: relative;
}

.navbar-link, .navbar-link:active, .navbar-link:hover {
  float: left;
  display: block;
  color: #716F72;
  padding: 10px 12px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-right: auto;
  font-size: larger
} 

.Inline{
  display: inline-block
}

.form-headers {
  font-size: larger;
  /* color: #716F72; */
  color: #1A7874
}

.sign-in-up-form {
  text-align: center;
  margin: 30px 30px
}

form {

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
